<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-light">
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
     <img src="{{ site.url }}{{ site.baseurl }}/favicon.ico" width="30" height="30" style="margin-right:5px" class="d-inline-block align-top" alt="">
      {{ site.title | escape }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
        <ul class="navbar-nav">
          {% for page in site.nav_pages %}
           <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/{{page.name}}">{{page.name | capitalize }}</a>
           </li> 
          {% endfor %}
          <li class="nav-item">
           <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/cv/thesis.pdf">MSc Thesis</a>
          </li>
        </ul>
    </div>
  <div class="collapse navbar-collapse ml-auto">
        <ul class="navbar-nav ml-auto">
        {% for member in site.data.pi %}
        {% if member.cv %} <li><a href="{{ site.url }}{{ site.baseurl }}/{{ member.cv }}" target="_blank"><i class="ai ai-cv-square ai-3x" style="margin-right:5px"></i></a></li> {% endif %}
        {% if member.scholar %} <li><a href="{{ member.scholar }}" target="_blank"><i class="ai ai-google-scholar-square ai-3x" style="margin-right:5px"></i></a></li> {% endif %}
        {% if member.github %} <li><a href="{{ member.github }}" target="_blank"><i class="fa fa-github-square fa-3x" style="margin-right:5px"></i></a></li> {% endif %}
        {% if member.researchgate %} <li><a href="{{ member.researchgate }}" target="_blank"><i class="ai ai-researchgate-square ai-3x" style="margin-right:5px"></i></a></li> {% endif %}
        {% endfor %}
      </ul>
  </div>

   
</nav>

