<div>
{% for member in site.data.pi %}
<div>
   <center>
   <a href="{{site.url}}{{site.baseurl}}/about"><img src="{{site.url}}{{site.baseurl}}/images/{{ member.photo }}" width="100%" style="block:inline; border-radius: 0px; margin-top: 45px; margin-left:auto; margin-right:auto; margin-bottom:5px;"/></a>
   </center>
</div>
<!--
  <ul style="overflow: hidden">
  {% if member.number_educ == 1 %}
  <li> {{ member.education1short | replace: "-","&#8211;"}} </li>
  {% endif %}

  {% if member.number_educ == 2 %}
  <li> {{ member.education1short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education2short | replace: "-","&#8211;"}} </li>
  {% endif %}

  {% if member.number_educ == 3 %}
  <li> {{ member.education1short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education2short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education3short }} </li>
  {% endif %}

  {% if member.number_educ == 4 %}
  <li> {{ member.education1short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education2short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education3short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education4short | replace: "-","&#8211;"}} </li>
  {% endif %}

  {% if member.number_educ == 5 %}
  <li> {{ member.education1short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education2short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education3short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education4short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education5short | replace: "-","&#8211;"}} </li>
  {% endif %}

  {% if member.number_educ == 6 %}
  <li> {{ member.education1short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education2short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education3short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education4short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education5short | replace: "-","&#8211;"}} </li>
  <li> {{ member.education6short | replace: "-","&#8211;"}} </li>
  {% endif %}
  </ul>
</div>
{% endfor %}
</div>

<div class="jumbotron">
  <h4>Recent updates</h4>

  {% for article in site.data.news limit:3 %}
  <b>{{ article.date }}</b>
   <p>
   {{ article.headline }} 
   {% if article.url %}<a href={{ article.url }}>Link</a>{% endif %}
   </p>
  {% endfor %}
  
  <h5><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all updates</a></h5>

</div>
-->